body{font-family: 'Courier New', Courier, monospace;}




#tabs {
    width: 100%;
    height: 25px;
    background-color: black;
    padding: 10px;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
  }
   #tabs a {
    font-size: 30px;
    color: rgb(245, 245, 245);
    margin-right: 20px;
    text-decoration: none;
  }
  
  #form {
    width: 100%;
    height: 250px;
    background-color: #003a5a;
    text-align: center;
  }
  a{color: white; text-decoration: none; font-size: larger; }
  
  
  body {
    margin: 0px;
    padding: 10px;
    background-color: #467f86;
  }
#tabs :hover{background-color: gray;}
.geridon{background-color: black; color: white; font-size: 20px; width: fit-content; height: fit-content;}
.yazı{font-size: 30px;}